<header id="header">
				<h1 id="logo"><a href="/">Welcome</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/#events">Events</a></li>
						<li class="submenu">
							<a href="/compositions.html">Compositions</a>
							<ul>
								<li><a href="/compositions.html#acoustic">Acoustic</a></li>
								<li><a href="/compositions.html#electronic">Electronic</a></li>
								<li><a href="/compositions.html#other">Everything Else</a></li>
							</ul>
						</li>
                        <li><a href="/blog.html">Blog</a></li>
                        <li><a href="/failedcomic.html">Failed Comic</a></li>
					</ul>
				</nav>
			</header>